.input-container {
  display: inline-block;
  align-items:center;
  justify-content: center;
  width: auto;
}

.input-box {
  display: inline-block;
  margin: 0 auto;
}

.content-text {
  text-align: center;
}

.stat-container {
  width: auto;
  margin-left: 100px;
  margin-bottom: 10px;
}

.stat-text {
  width: 150px;
  display: inline-block;
}

.stat-number {
  width: 50px;
  display: inline-block;
  text-align: left;
}
